/* MAIN PAGE*/

body{
    background-color: #1a1b1c;
}
.main-cards{
    position: absolute;
    top: 10%;
    width: 90%;
    left: 5%;
}
.header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 9%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 175%;
}
i{
    position: absolute;
    left: 3%;
}
img{
    width: 100%;
    height: 100%;
}
.background{
    position: absolute;
    height: 1000%;
    width:100%;
}
.collapsible{
    position: absolute;
    width: 90%;
    background-color: #1a1b1c;
    left: 5%;
    top: 5%;
    border: none;
}
.collapsible-header{
    background-color: #2a2b2c;
    border: none;
    color: #ffffff;
}
.expandable-thing{
    color: aliceblue;
}